footer {
  background: $black-color;
  color: $light-color;
  padding-top: 6rem;
  margin-top: 6rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 0.85rem;
    gap: 5rem;

    a {
      color: $light-color;
      transition: all 400ms ease;

      &hover {
        color: $white-color;
      }

      h3 {
        color: $white-color;
      }
    }
    article {
      display: block;

      *:not(.btn-primary) {
        display: block;
        margin-bottom: 1rem;
      }

      & > div {
        display: flex;
      }
      
      & > h3 {
        color: $white-color;
      }
    }
    .footer__socials {
      
      a {
        display: inline-block;
        padding: 0.5rem;
        height: fit-content;

        i {
          margin-bottom: 0;
        }
      }
    }

  }
  .copyright {
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 4rem;
    font-size: 0.9rem;
    border-top: 1px solid rgba($white-color, $alpha: 0.2);
  }
}

/* ============================= MEDIA QUERIES (SMALL DEVICES) ============================ */

@media screen and (max-width: 800px) {
  footer {
    .container {
      text-align: center;
      grid-template-columns: 1fr;

      article {
        div,
        a.btn-primary {
          display: block;
          margin-inline: auto;
        }

        // .footer__socials  {
        // display: flex;
        //   gap: .5rem;
        // }
      }
    }
  }
}
