header {
  @include gradientBackground;
  height: fit-content;
  display: grid;
  place-items: center;
  padding: 6rem 1rem 3rem;

  .container {
    display: grid;
    grid-template-columns: 46% 46%;
    gap: 8rem;
    align-items: center;
    justify-content: space-between;

    .header__content {
      h1 {
        font-size: 3.5rem;
        line-height: 1.1;
        letter-spacing: -3px;
      }

      p {
        margin: 1rem 0 2rem;
        color: rgba($light-color, 0.7);
      }
      a {
        color: $white-color;
      }
    }
  }
}

/* ============================= MEDIA QUERIES (MEDIUM DEVICES) ============================ */

@media screen and (max-width: 1024px) {
  header {
    gap: 1rem;

    .container {
      .header__content h1 {
        font-size: 2.5rem;
      }
    }
  }
}
/* ============================= MEDIA QUERIES (SMALL DEVICES) ============================ */

@media screen and (max-width: 800px) {
  header {
    padding-top: 5rem;

    .container {
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      gap: 0;
    }
  }
}
