@mixin button($textColor: $white-color, $backgroundColor: $secondary-color) {
  display: inline-block;
  background: $backgroundColor;
  width: fit-content;
  padding: 0.75rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 400ms ease;
}

@mixin gradientBackground {
  background: linear-gradient(135deg, $primary-color, $primary-color-variant);
  color: $white-color;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $white-color;
  }
}
