nav {
  width: 100vw;
  height: 5rem;
  position: fixed;
  z-index: 10;
  @include gradientBackground;
  display: grid;
  place-items: center;
  box-shadow: 0 1rem 1rem rba($black-color, 0.1);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      gap: 3rem;
      align-items: center;
    }

    button {
      display: none;
    }

    a {
      color: $white-color;
      font-weight: 400;
      font-size: 0.9rem;
    }

    .nav__logo h3 {
      color: $white-color;
      // font-size: 1.5rem;
    }
  }
}

/* ============================= MEDIA QUERIES (MEDIUM DEVICES) ============================ */

@media screen and (max-width: 1024px) {
  nav {
    .container {
      button {
        display: inline-block;
        background: transparent;
        font-size: 2rem;
        cursor: pointer;
        color: $white-color;

        &#close__nav-btn {
          display: none;
        }
      }

      ul {
        position: fixed;
        top: 5rem;
        right: 5%;
        align-items: start;
        flex-direction: column;
        gap: 0;
        display: none;
        perspective: 300px;

        li {
          width: 100%;
          opacity: 1;
          transform-origin: top;
          animation: flipNavItem 300ms ease-in-out forwards;

          &:nth-child(2) {
            animation-delay: 100ms;
          }
          &:nth-child(3) {
            animation-delay: 200ms;
          }
          &:nth-child(4) {
            animation-delay: 300ms;
          }
          &:nth-child(5) {
            animation-delay: 400ms;
          }

          @keyframes flipNavItem {
            0% {
              transform: rotateX(90deg);
            }
            100% {
              transform: rotateX(0deg);
              opacity: 1;
            }
          }
          a {
            color: $white-color;
            height: 100%;
            display: block;
            padding: 1.75rem 2rem;
            border-radius: 0;
            background: linear-gradient(
              $primary-color-variant,
              $primary-color-variant,
              darken($primary-color-variant, 12%)
            );

            &.btn {
              background: $secondary-color;
            }
          }
        }
      }
    }
  }
}
