#services {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    article {
      @include gradientBackground;
      padding: 1.5rem;
      height: fit-content;
      border-radius: 1rem;
      max-width: 600px;
      gap: 1.5rem;
      display: flex;
      transition: all 400ms ease;

      &:hover {
        margin-top: -0.5rem;
      }
      i {
        font-size: 1.7rem;
      }
      div {
        h4 {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

/* ============================= MEDIA QUERIES (MEDIUM DEVICES) ============================ */

@media screen and (max-width: 1024px) {
  #services {
    .container {
      grid-template-columns: repeat(2, 1fr);

      article {
        padding: 1.2rem;
        gap: 0.8rem;
      }
    }
  }
}

/* ============================= MEDIA QUERIES (SMALL DEVICES) ============================ */

@media screen and (max-width: 620px) {
  #services {
    .container {
      grid-template-columns: 1fr;

      article {
        &:hover {
          margin-top: 0;
        }
        div {
          h4 {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
