#testimonials {
  width: $container-lg;
  margin-inline: auto;

  .container {
    cursor: default;
    font-size: 0.9rem;
    margin-bottom: 4rem;

    article {
      @include gradientBackground;
      padding: 1.5rem 2rem;
      border-radius: 1rem;
      display: flex;
      max-width: 600px;
      flex-direction: column;
      gap: 1rem;

      .patient {
        display: flex;
        margin-right: 1rem;
        justify-content: start;
        align-items: center;
        gap: 1rem;

        img {
          width: 2.5rem;
          border-radius: 50%;
          aspect-ratio: 1/1;
          border-radius: 50%;
        }
        .patient__details {
          p {
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }
}
.swiper-button-bullet {
  background: $primary-color;
}

// <====================> CUSTOM BREAK POINT FOR TESTIMONIALS <====================>
/* ===================== MEDIA QUERIES (MEDIUM DEVICES) ===================== */

@media screen and (max-width: 2056px) {
  #testimonials {
    width: 72%;
  }
}
